body {
  background-color: #62c2c8;
  font-family: 'Montserrat', sans-serif;
}

.app {
  background-color: #fff;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed {
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li {
  list-style-type: none;
  padding: 10px;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
}

.add {
  margin-top: 5px;
  background: #65aa06;
}

.delete {
  background: #d30100;
  margin-bottom: 5px;
}

.btn {
  padding: 10px;
  border: none;
  width: 70%;
  color: #fff;
  font-size: 16px;
}

input {
  flex: 1;
  padding: 8px;
  margin: 10px;
}